{% extends 'base.html' %}
{% load static %}


{% block content%}
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">About us!</h1>
        <p class="lead fw-normal text-white-50 mb-0">You gonna find out soon!</p>
      </div>
    </div>
  </header>

  <div class="container px-4 px-lg-5 mt-1">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-12">
        <p class="m-5">
          Welcome to our shop! We are committed to providing you with the best products and services. Stay tuned for more updates about our team and mission.
          At odio rerum quibusdam! Veniam sequi ab, magni, nisi quidem omnis laboriosam delectus expedita eos eligendi illum nihil quod ipsum incidunt cumque repellat ullam ex corrupti optio. Accusantium, eligendi repudiandae.
          Ut accusantium alias voluptatibus quibusdam ab exercitationem commodi aperiam nisi ipsam, placeat qui maiores ullam dolor reiciendis, dolores veniam saepe ipsum ipsa quos distinctio. Neque sunt atque repellendus! Magni, tempore?
          Atque nam saepe voluptatibus ipsa repellat itaque labore. Obcaecati repudiandae veniam illo sequi sint culpa, sed quia minima aliquam reprehenderit corrupti recusandae minus nobis accusantium eius, vitae unde, cupiditate a!
          Rem quidem cumque corporis a repellat, quibusdam quo quae voluptatem laudantium adipisci eaque veniam deserunt blanditiis. Vel qui ab iste! Repellat eveniet, natus quos quidem deserunt illo consequatur illum? Numquam?
          Nemo porro voluptatem ab distinctio consequuntur voluptatibus ipsam magnam eligendi, in, repellat itaque tenetur inventore necessitatibus ratione provident! Veniam, ducimus! Possimus aperiam reiciendis, esse nesciunt aliquid ipsam aspernatur vel praesentium.
          Quam atque ipsam, distinctio adipisci accusantium maiores vitae nihil amet cum. Corporis, officia quam, maxime iusto accusamus voluptates tenetur perferendis aliquam quidem beatae at? Voluptate aut incidunt sint nisi adipisci.
          Harum, illum. Est nisi, fugit eveniet beatae praesentium a aliquam, necessitatibus impedit deserunt reiciendis provident quo quas eius vitae officiis temporibus vero atque laboriosam, facere consectetur sapiente adipisci. Porro, autem?
          Ducimus molestiae nesciunt quod optio nihil praesentium? Quisquam excepturi, magnam nam distinctio ipsa vel. Distinctio repellat, id repellendus ducimus consequuntur impedit sit dolore earum exercitationem voluptatem, fuga ratione, optio totam.
        </p>
      </div>
    </div>
  </div>
  


  <section class="py-">
    <div class="container0 px-4 px-lg-5 mt-1">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
          <div class="card h-100">
            <img class="card-img-top" src="{% static 'assets/red2.jpg' %}" alt="..." />
            <div class="card-body p-4">
              <div class="text-center">
                <h5 class="fw-bolder">Team Lead</h5>
                <p>We are a team of passionate individuals dedicated to providing the best shopping experience.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}