{% extends 'base.html' %}
{% block content %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card shadow-lg border-0 mb-4">
                    <div class="row g-0">
                        <div class="col-md-5 d-flex align-items-center justify-content-center bg-light rounded-start">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded" style="max-height: 350px; object-fit: contain;" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-4">
                                    {% if product.is_in_discount %}
                                        <div class="badge bg-dark bg-opacity-50 text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Special offer</div>
                                    {% endif %}
                                    <!-- Product details -->
                                    <div class="text-center">
                                        {% for i in "12345"|slice:":product.gave_star" %}
                                            <div class="bi-star-fill text-warning d-inline"></div>
                                        {% endfor %}
                                        <!-- Product name -->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <p>{{ product.description }}</p>
                                        <!-- Product price -->
                                        {% if product.is_in_discount %}
                                            <p class="text-decoration-line-through">{{ product.price }}$</p>
                                            <p class="">{{ product.discount }}$</p>
                                        {% else %}
                                            <p>{{ product.price }}$</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Product actions -->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="">Add Card</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}