{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content%}
  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Change Password Form!</h1>
        <p class="lead fw-normal text-white-50 mb-0">You gonna find out soon!</p>
      </div>
    </div>
  </header>
  
 <!-- update_user.html -->
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-lg border-0 rounded-4">
                <div class="card-header bg-gradient bg-primary text-white text-center rounded-top-4">
                    <h3 class="mb-0">Change Your Password</h3>
                </div>
                <div class="card-body p-5">
                    
                    <form method="post" autocomplete="on">
                        {% csrf_token %}
                        
                        {{form.old_password.label_tag}}
                        {{form.old_password|add_class:"form-control mb-3"}}
                        
                        {{form.new_password1.label_tag}}
                        {{form.new_password1|add_class:"form-control mb-3"}}
                        
                        {{form.new_password2.label_tag}}
                        {{form.new_password2|add_class:"form-control mb-3"}}

                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ form.non_field_errors }}
                            </div>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-lg w-100 shadow-sm">
                            <i class="bi bi-shield-lock-fill me-2"></i>Update Password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  
{% endblock %}